body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.form-container {
    display: flex; 
    gap: 20px; 
    flex-wrap: wrap; 
}

.form-group {
    flex: 1; 
    min-width: 300px; 
}

form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

form label {
    margin: 5px 0;
}

form input, form select, form textarea, form button {
    margin-bottom: 10px;
}

.tasks-container, .lists-container {
    display: flex;
    justify-content: space-between;
}

.tasks-column, .lists-column {
    width: 48%;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    max-height: 400px;
    overflow-y: auto;
}

.task-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 5px;
}

.task-item.done {
    background-color: #d4edda;
    text-decoration: line-through;
    color: #6c757d;
}

.task-item.pending {
    background-color: #fff3cd; 
    border: 1px solid #ffeeba; 
    color: #856404; 
}

.task-deadline{
    margin-right: 20px;
    width: 120px;
}

.title {
    font-weight: bold;
}

.date {
    font-style: italic;
    color: #6c757d;
}

.header {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.list-item {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #e9e9e9;
    border-radius: 5px;
}

.add-button {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #0056b3;
}

.logout-container {
    text-align: center;
    margin-top: 20px;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.logout-button:hover {
    background-color: #c82333;
}

.delete-button {
    color: red;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px; 
    font-size: 18px; 
}

.delete-button:hover {
    color: darkred; 
}

.list-item {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.edit-button {
    color: #007bff; 
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
}

.edit-button:hover {
    color: #0056b3; 
}

.task-deadline {
    margin-right: 20px;
    width: 120px; 
}


